:root {
  --main: #ffd5b9;
  --accent: #4e1909;
  --border: #fffff4;
  --extra: #ffe8a3;
}

.spn1 {
  --main: #6EBBB8;
  --accent: #000;
  --border: #cbe7e6;
  --text: #ffffff;
  --extra: #cbe7e6;
  --background: url("https://imgur.com/AtSrC1W.jpg");
}

.spn2 {
  --main: #f8d3c5;
  --accent: #fceee9;
  --border: #b9cfb7;
  --extra: #667b68;
  --background: url("https://imgur.com/dnMzixW.jpg");
}

.spn3 {
  --main: #f8d3c5;
  --accent: #fceee9;
  --border: #b9cfb7;
  --extra: #667b68;
  --background: url("https://imgur.com/w4m7t4F.jpg");
}

.spn4 {
  --main: #f8d3c5;
  --accent: #fceee9;
  --border: #b9cfb7;
  --extra: #667b68;
  --background: url("https://imgur.com/nsxJ03l.jpg");
}

.spn5 {
  --main: #f8d3c5;
  --accent: #fceee9;
  --border: #b9cfb7;
  --extra: #667b68;
  --background: url("https://imgur.com/qVaMnwA.jpg");
}

body {
  display: block;
  background-color: #000;
  background-position: center bottom;
  background-size: cover;
  color: black;
  font-family: "Viaoda Libre", serif;
  font-size: 1.1em;
  text-align: justify;
}

a {
  text-decoration: none;
  color: var(--main);
}

#all {
  width: 670px;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 100px;
  background-color: var(--main);
  color: var(--accent);
}

h1 {
  background: url("https://imgur.com/NIl9XKW.jpg") no-repeat;
  background-size: 300px 100px;
  background-position: left 40px top 50px;
  color: var(--text);
  font-family: "Fleur De Leah", serif;
  font-size: 4em;
  padding: 0px 50px 60px 50px;
  margin-top: 0;
  overflow: visible;
}

.tagline {
  font-family: "Special Elite", serif;
  float: right;
  font-size: 1.15em;
  border: 8px double var(--border);
  background-color: var(--accent);
  color: var(--text);
  padding: 20px;
  margin: 30px;
  width: 200px;
  height: auto;
}

table {
  width: 100%;
  margin: 0 auto 4em auto;
}

tr,
th {
  border: 2px solid var(--border);
  background-color: var(--accent);
  width: 130px;
  height: 1.5em;
  color: var(--text);
  text-align: center;
  font-family: "Special Elite", serif;
  content-align: center;
}

.parts {
  background-color: var(--accent);
  color: var(--text);
  padding: 1em;
  margin-right: 2em;
  border: 10px double var(--border);
  color: var(--text);
  position: relative;
  left: -300px;
  float: left;
}

h2 {
  color: var(--text);
  font-family: "Special Elite", serif;
  font-size: 3em;
  padding: 0px 50px 0px 50px;
  margin-top: 0;
  margin-left: 150px;
  overflow: visible;
  text-align: center;
  width: 400px;
  text-decoration: underline;
}

h3 {
  color: var(--main);
  font-size: 1.25em;
  text-align: center;
  margin: 0;
  margin-bottom: -15px;
  padding: 0;
  font-family: "Special Elite", serif;
}

.screencap img {
  width: 300px;
  height: auto;
  float: right;
  position: relative;
  right: -500px;
  top: 50px;
  border: 10px double var(--border);
}

.monster {
  background-color: var(--accent);
  color: var(--text);
  padding: 1em;
  margin-right: 2em;
  position: relative;
  left: -300px;
  top: 200px;
  float: left;
  width: 240px;
  height: auto;
  align-content: center;
  border: 10px double var(--border);
}

.connections {
  background-color: var(--accent);
  color: var(--text);
  padding: 1em;
  margin-right: 2em;
  color: var(--text);
  float: right;
  right: -800px;
  width: 200px;
  height: auto;
  text-align: center;
  align-content: center;
  position: relative;
  border: 10px double var(--border);
}

.conncont {
  background-color: var(--accent);
  width: 300px;
  height: auto;
  position: absolute;
  top: 170px;
  left: 20px;
  color: var(--text);
  text-align: justify;
  border: 10px double var(--border);
}

.theme {
  background-color: var(--accent);
  padding: 1em;
  color: var(--text);
  font-family: "Special Elite", serif;
  font-size: 1.5em;
  margin: 1.5em;
  overflow: visible;
  text-align: center;
  border: 10px double var(--border);
}

.theme:before {
  content: "Theme: "
}

.victims {
  background-color: var(--accent);
  color: var(--text);
  padding: 1em;
  left: -700px;
  top: 300px;
  margin-right: 2em;
  float: right;
  width: 250px;
  height: auto;
  text-align: center;
  align-content: center;
  position: relative;
  border: 10px double var(--border);
}

.allegory {
  font-family: "Special Elite", serif;
  font-size: 1.15em;
  border: 10px double var(--accent);
  background-color: var(--border);
  color: var(--accent);
  padding: 20px;
  margin: 50px;
  height: auto;
}

.allegory:before {
  content: "Allegory: "
}

.links {
  background: url("https://imgur.com/M2V7Fcq.jpg") no-repeat;
  background-size: 550px 225px;
  background-position: left 70px top 20px;
  color: var(--accent);
  align-content: center;
  text-align: center;
  font-family: "Special Elite", serif;
  font-size: 1.5em;
  width: 670px;
  height: 300px;
}